input {
    border-radius: 8px !important;
}

    input:focus {
        outline: none !important;
        box-shadow: 0 0 5px #ff0000 !important;
        border: 1px solid #ff0000 !important;
    }

.logo-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.navbar .nav-link {
    color: white !important;
}

    .navbar .nav-link:hover {
        color: #ffcccb !important;
    }

.navbar {
    padding: 15px 0;
    min-height: 80px;
}

.summary-box {
    border: 2px solid #7c0101;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white !important;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    transition: color 0.3s;
}

    .navbar-nav .nav-link i {
        font-size: 18px;
    }

.card {
    margin-top: 120px;
    margin-bottom: 100px;
}

